@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh
}

#bold {
  font-weight: 700;
  text-align: center;
  color: hsl(218, 44%, 22%);
  font-size: 1.2em;
  padding-left: 5%;
  padding-right: 5%;
}

#normal {
  font-weight: 400;
  text-align: center;
  color: hsl(216, 15%, 48%);
  font-size: 0.8em;
  padding-left: 10%;
  padding-right: 10%;
}

.box {
  width: 250px;
  height: 400px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  padding: 10px;
  padding-top: 0;

}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

.box div {
  align-self: center;
}

.attribution {
  margin-top: 10px;